<div class="grid p-5">
    <div class="col-5">
        <ng-container *ngFor="let activity of activities">
            <app-activity [activity]="activity"></app-activity>
        </ng-container>
    </div>
    <div class="col-6" *ngIf="activity">
        <p-card [header]="activity.title | titlecase" [subheader]="activity.category" [style]="{width: '360px'}"
            styleClass="p-card-shadow">
            <ng-template [pTemplate]="activity.title">
                <img [alt]="activity.title" src="`../assets/category-images/${activity.category}.jpg`">
            </ng-template>
            <p>
                {{activity.description}}
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                    [style]="{'margin-left': '.5em'}"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>