<div class="grid p-5">
    <div class="col-6">
        <ng-container *ngFor="let activity of activities">
            <app-activity 
                [activity]="activity" 
                (sendActivityIdToParent)="deleteActivity($event)"
                (sendActivityToParent)="getActivity($event)"></app-activity>
        </ng-container>
    </div>
    <div class="col-6" *ngIf="activity">
        <app-activity-card 
            (sendActivityToParent)="updateActivity($event)" 
            [activity]="activity"></app-activity-card>
    </div>
</div>
<p-toast position="bottom-right" key="activity"></p-toast>
