<p-fieldset *ngIf="activity" [legend]="activity.category">
    <h3>{{activity.title | titlecase}}</h3>
    <p>{{activity.date | date}}</p>
    <p>{{activity.city}}, {{activity.venue}}</p>
    <p-tag [value]="activity.category"></p-tag>

    <div class="flex justify-content-end flex-wrap card-container">
        <button 
            (click)="onSendActivityToParent()" 
            pButton
            type="button"
            label="Details" 
            class="p-button-info"></button>
        <button 
            pButton 
            type="button" 
            label="Delete"
            class="p-button-danger"
            [style]="{'margin-left': '.5em'}"  
            (click)="onSendActivityIdToParent()"></button>
    </div>
</p-fieldset>